@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.user-image {
  top: 13%;
  left: 5%;
  border: 3px solid white;
}
body {
  background-color: rgb(244, 242, 238);
}

.info-section {
  border-color: rgb(210, 210, 210) !important;
}

#search {
  max-height: 35px;
  border: 0;
  background-color: rgb(237, 243, 248);
}
#basic-navbar-nav p {
  font-size: 0.8em;
}
.search-icon {
  background-color: rgb(237, 243, 248);
}
.search-icon i {
  font-size: 0.8em;
}
.plus-button {
  position: absolute;
  right: 5%;
  text-decoration: none;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.plus-button:hover {
  background-color: rgb(235, 235, 235);
}

.pencilButton {
  position: absolute;
  right: 5%;
  color: rgb(94, 94, 94);
  cursor: pointer;
  text-decoration: none;

}

.pencilButton:hover {
  background-color: rgb(235, 235, 235);
}





#dropdown-basic {
  width: 250px;
}
#icon-footer i {
  font-size: 1.2em;
}

/* COLORE BACKGROUND */
.background-columns {
  background-color: rgb(255, 255, 255);
}

/* POSTS */

#select-feed {
  font-size: 0.7rem;
}

#select-feed hr {
  width: 25%;
}

#select-feed p {
  margin-left: 0.2em;
  margin-top: 1em;
}

.cursor {
  cursor: pointer;
}

#ul-sidebar li {
  font-weight: 500;
}

#ul-sidebar p {
  font-size: 0.8rem;
}

.stats {
  font-size: 0.8rem;
}

.comments-actions {
  font-size: 0.9rem;
}

/* FOOTER SIDEBAR DESTRA */

#footer-sidebar {
  font-size: 0.8rem;
}
.navbar-nav a {
  color: inherit;
}

nav,
.job-list {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.job-info p {
  font-size: 0.8em;
}

.job-info {
  line-height: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.job-button {
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.job-menu {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .job-menu {
    width: 100%;
  }
}

.input-bar {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

@media screen and (min-width: 992px) {
  input[type="search"]:focus {
    width: 350px;
  }
}
