@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

.user-image {
  top: 13%;
  left: 5%;
  border: 3px solid white;
}
body {
  background-color: rgb(244, 242, 238);
}

.info-section {
  border-color: rgb(210, 210, 210) !important;
}

#search {
  max-height: 35px;
  border: 0;
  background-color: rgb(237, 243, 248);
}
#basic-navbar-nav p {
  font-size: 0.8em;
}
.search-icon {
  background-color: rgb(237, 243, 248);
}
.search-icon i {
  font-size: 0.8em;
}
.plus-button {
  position: absolute;
  right: 5%;
  text-decoration: none;
  color: rgb(94, 94, 94);
  cursor: pointer;
}
.plus-button:hover {
  background-color: rgb(235, 235, 235);
}

.pencilButton {
  position: absolute;
  right: 5%;
  color: rgb(94, 94, 94);
  cursor: pointer;
  text-decoration: none;

}

.pencilButton:hover {
  background-color: rgb(235, 235, 235);
}





#dropdown-basic {
  width: 250px;
}
#icon-footer i {
  font-size: 1.2em;
}

/* COLORE BACKGROUND */
.background-columns {
  background-color: rgb(255, 255, 255);
}

/* POSTS */

#control-input:hover {
  background-color: rgb(235, 235, 235);
}

.single-event {
  font-size: 0.8rem;
}

#modal-event-paragraphs {
  font-size: 0.7rem;
}

.dropdown-toggle::after {
  display: none !important;
}

#select-feed {
  font-size: 0.7rem;
}

#select-feed hr {
  width: 25%;
}

#select-feed p {
  margin-left: 0.2em;
  margin-top: 1em;
}

.cursor {
  cursor: pointer;
}

#ul-sidebar li {
  font-weight: 500;
}

#ul-sidebar p {
  font-size: 0.8rem;
}

.stats {
  font-size: 0.8rem;
}

.comments-actions {
  font-size: 0.9rem;
}

/* FOOTER SIDEBAR DESTRA */

#footer-sidebar {
  font-size: 0.8rem;
}
.navbar-nav a {
  color: inherit;
}

nav,
.job-list {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.job-info p {
  font-size: 0.8em;
}

.job-info {
  line-height: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.job-button {
  font-size: 0.8em;
  font-weight: bold;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.job-menu {
  width: 75%;
}

@media screen and (max-width: 768px) {
  .job-menu {
    width: 100%;
  }
}

.input-bar {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

@media screen and (min-width: 992px) {
  input[type="search"]:focus {
    width: 350px;
  }
}

.chat-container {
  box-shadow: -1px -15px 11px -2px rgba(0, 0, 0, 0.3);
}

.chat-box {
  width: 30%;
}

.single-chat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.single-chat:hover {
  background-color: lightgray;
}

.chat-on {
  animation: slide-top 0.3s linear forwards;
}

.chat-off {
  animation: slide-bottom 0.3s linear forwards;
}

@keyframes slide-top {
  0% {
    transform: translateY(378px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(570px);
  }
}

#icons-offcanvas {
  font-size: 0.7rem;
  color: grey;
}
#icons-offcanvas svg {
  cursor: pointer;
}
#icons-offcanvas p {
  margin-top: 0.3rem;
}

.icons-div {
  width: 40px !important;
  height: 40px !important;
}

#body-canvas li {
  list-style-type: none;
}

#body-canvas li p:first-of-type {
  font-size: 0.9rem;
  margin-bottom: 0.1em;
  cursor: pointer;
}
#body-canvas li p:nth-of-type(2) {
  font-size: 0.8rem;
  color: grey;
}

#last-div-canvas {
  font-size: 0.9rem;
}

#navbar-col {
  color: rgb(102, 102, 102);
}
